<div id="Header">
  <div id="Nav">
    <%= link_to "Wprowadzenie", "/", :class => current_page.path == "index.html" ? "current" : "" %> |
    <%= link_to "Screencasty", "/screencasty", :class => current_page.path == "screencasty.html" ? "current" : "" %> |
    <%= link_to "Pobierz", "/pobierz", :class => current_page.path == "pobierz.html" ? "current" : "" %> |
    <%= link_to "Wdrożenie", "/wdrozenie", :class => current_page.path == "wdrozenie.html" ? "current" : "" %> |
    <%= link_to "Dokumentacja", "/dokumentacja", :class => current_page.path == "dokumentacja.html" ? "current" : "" %> |
    <%= link_to "Ekosystem", "/ekosystem", :class => current_page.path == "ekosystem.html" ? "current" : "" %> |
    <%= link_to "Forum", "/forum" %> |
    <%= link_to "IRC", "irc://irc.eu.freenode.net/rubyonrails.pl" %> |
    <%= link_to "Źródła", "http://github.com/rails/rails/tree/master", :lang => "en" %>
  </div>
</div>
