<div class="slivers">
  <table summary="Główne działy witryny">

    <tr>
      <td>
        <h2>Natchnienie</h2>
        <a href="/screencasty" class="no_link_hover"><%= image_tag("screencasts.gif", :class=>"bordered", :alt=>"Screencast'y") %></a>
        <p><a href="/screencasty">Prezentacje video</a></p>

      </td>

      <td class="download-badge">
        <h2>Początki</h2>
        <a href="/pobierz" class="no_link_hover"><%= image_tag("download_empty.png", :alt=>"Pobierz wersję 5.0.0.1") %>
        <span>5.0</span>
        </a>
        <p>
          <%= link_to "Ostatnie wydanie: wersja 5.0.0.1 z 11 sierpnia 2016", "/pobierz" %>
        </p>
      </td>

      <td>

        <h2>Poznanie</h2>
        <a href="/dokumentacja" class="no_link_hover"><%= image_tag("agilep.jpg", :width=>"125", :height=>"163", :class=>"bordered", :alt=>"Dokumentacja") %></a>

        <p><a href="/dokumentacja">API, Książki, tutoriale, fragmenty kodu</a></p>
      </td>

      <td>
        <h2>Społeczność</h2>
        <a href="/spolecznosc" class="no_link_hover"><%= image_tag("participate.gif", :alt=>"Społeczność") %></a>

        <p><a href="/spolecznosc">Dołącz do polskiej społeczności RoR</a></p>
      </td>

    </tr>
  </table>
</div>
