---
title: Dokumentacja Ruby on Rails
---
<div class="sub">

  <h1>Oficjalna dokumentacja (API)</h1>
</div>

<div class="main">
  <ul>
    <li><a href="http://api.rubyonrails.org/">Rails API Documentation</a></li>
    <li><a href="http://www.ruby-doc.org/core-2.0/">Ruby Core Reference</a></li>
    <li><a href="http://www.ruby-doc.org/stdlib-2.0/">Ruby Standard Library Reference</a></li>
  </ul>
  
</p>
</div>

<div class="clearall">&nbsp;</div>


<div class="sub">

  <h1>Rozszerzona dokumentacja (ApiDock)</h1>
</div>

<div class="main">

  <p>ApiDock to dokładna dokumentacja bibliotek <a href="http://apidock.com/ruby">Ruby</a> i <a href="http://apidock.com/rails">Rails</a>. Obsługuje wiele wersji danej biblioteki oraz posiada możliwość dodawania komentarzy.</p>
  
</div>

<div class="clearall">&nbsp;</div>


<div class="sub">

  <h1>Przewodniki</h1>
</div>

<div class="main">
  <p>
    <ul>
      <li><a href="http://guides.rubyonrails.org/">Rails Guides</a> to zbiór przewodników po świecie Rails.</li>
      <li><a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial</li>
      <li><a href="http://railsforzombies.org/">Learning Rails the Zombie Way</a> (interaktywny podręcznik dla początkujących)</li> 
    </ul>
  </p>
</div>

<div class="clearall">&nbsp;</div>
<div class="sub">
  <h1>Książki</h1>

</div>

<div class="main">
  <p>Niestety, ta technologia rozwija się tak szybko, że w języku polskim wszystkie książki 
    są już nieaktualne i dotyczą historycznych wersji frameworka. Najnowsze książki są w jęz. angielskim.</p>

  <p>
    <a href="http://pragprog.com/book/rails4/agile-web-development-with-rails"><%= image_tag("agile-rails4.jpg", :border=>"1", :style=>"border:1px solid gray") %>
      <br>"Agile Web Development with Rails 4", Sam Ruby, Dave Thomas, David Heinemeier Hansson</a>
  </p>

  <p><a href="http://pragprog.com/book/jvrails2/crafting-rails-applications"><%= image_tag("crafting-rails4.jpg", :border=>"1", :style=>"border:1px solid gray") %>
      <br>"Crafting Rails 4 Applications: Expert Practices for Everyday Rails Development", José Valim</a></p>

  <p><a href="https://leanpub.com/tr4w"><%= image_tag("rails4-way.png", :border=>"1", :style=>"border:1px solid gray") %>
      <br>"The Rails 4 Way", Obie Fernandez</a></p>

  <p><a href="http://www.manning.com/bigg2/"><%= image_tag("rails4-action.jpg", :border=>"1", :style=>"border:1px solid gray") %>
      <br>"Rails 4 in Action", Ryan Bigg, Yehuda Katz, Steve Klabnik</a></p>

</div>

<div class="clearall">&nbsp;</div>


<div class="sub">
  <h1>Screencasty</h1>
</div>
<div class="main">
  <p>
    Screencasty to krótkie, instruktażowe filmy wideo zgodnie z zasadą, że "jeden obraz jest więcej wart niż tysiąc słów".
  </p>
  <ul>
    <li><a href="http://railscasts.com/?tag_id=38">RAILSCASTS</a></li>
    <li><a href="http://rails4.codeschool.com/videos">Rails 4 Zombie Outlaws</a></li>
    <li><a href="https://peepcode.com/screencasts/ruby-on-rails">PeepCode</a></li>
  </ul>
</div>
<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Konferencje</h1>
</div>
<div class="main">
  <p>
    Dobrym źródłem informacji o nowościach w świecie Ruby i Rails są liczne konferencje. Dla tych, co nie mogą w nich uczestniczyć: wszystkie prezentacje są nagrywane i dosyć szybku udostępniane online. 
    <ul>
      <li><a href="http://confreaks.com/events">Confreaks</a></li>
    </ul>
  </p>
</div>
<div class="clearall">&nbsp;</div>


<div class="sub">
  <h1>Newslettery</h1>
</div>
<div class="main">
  <p>
    <ul>
      <li><a href="http://rubyweekly.com/">RubyWeekly</a></li>
    </ul>
  </p>
</div>

<div class="clearall">&nbsp;</div>


<div class="sub">
  <h1>Mówiące<br/>lisy?</h1>
</div>


<div class="main">

  <a href="http://media.rubyonrails.org/videos/rails_take2_with_sound.mov" class="no_link_hover"><%= image_tag("chunkybacon.gif") %></a>

  <p>
    <a href="http://mislav.uniqpath.com/poignant-guide/" lang="en">why's (poignant) guide to Ruby</a> jest zupełnie inne od wszystkich książek wprowadzających Cie w świat programowania które do tej pory czytałeś.
    Bohaterami książki są gadające lisy, dziwaczne uzupełnienia i więcej zwariowanego humoru niż normalni ludzie są wstanie wytrzymać bez głośnego rechotu.
  </p>
</div>

<div class="clearall">&nbsp;</div>

