---
title: Ruby on Rails PL
---
<% content_for(:message) do %>
  <%= image_tag("hdr-overview.gif", :alt=>"Bezbolesne tworzenie aplikacji internetowych") %>
<% end %>

<% content_for(:extended) do %>
  <%= partial("announce") %>
  <%= partial("slivers") %>
  <%= partial("quote_show") %>
<% end %>

<div class="sub">
  <h1>Co jest w środku?</h1>
</div>

<div class="main">
  <p>
    Rails to w pełni wyposażone środowisko do tworzenia <span class="highlight">aplikacji internetowych opartych o bazy danych</span> zgodnie ze wzorcem MVC (Model-View-Controller).
    Rails daje Ci śrowowisko w pełni oparte o język programowania Ruby - od AJAX-a dostępnego w widokach (View), do zapytania i odpowiedzi w kontrolerach i logiki biznesowej twoich modeli. 
    Jedyne czego potrzebujesz do uruchomienia swojej aplikacji to baza danych i serwer WWW.
  </p>
</div>

<div class="clearall">&nbsp;</div>

<div class="sub">

  <h1>Kto korzysta z Rails?</h1>

</div>

<div class="main">
  <p>
    Każdy, począwszy od małych firm, poprzez organizacje non-profit, a na dużych organizacjach skończywszy, używa Rails.
    Rails znajduje zastosowanie jako narzędzie tworzenia praktycznie każdego rodzaju aplikacji internetowej, czy będzie to oprogramowanie do <span class="highlight">współpracy online, tworzenia społeczności, e-commerce, zarządzania treścią czy statystyk</span>. Przykłady:
  </p>

  <table class="productgrid" border="0" summary="Przykłady aplikacji zbudowanych w oparciu o Ruby on Rails">
    <tr>
      <td style="padding-right: 15px">

        <a href="http://www.basecamphq.com/" class="no_link_hover"><%= image_tag "basecamp.gif", :alt=>"Basecamp" %></a>
        <p><a href="http://www.basecamphq.com/">Basecamp</a>: Zarządzanie projektem.<br/>Aplikacja, dzięki której powstało Rails.</p>
      </td>
      <td>
        <a href="http://www.twitter.com/" class="no_link_hover"><%= image_tag("twitter.jpg") %></a>

        <p><a href="http://www.twitter.com/">Twitter</a>: (na początku swojego istnienia) - Mikroblogging.</p>

      </td>
    </tr>                                           


    <tr>
      <td style="padding-right: 15px">

        <a href="http://www.groupon.com/" class="no_link_hover"><%= image_tag("groupon.jpg") %></a>
        <p><a href="http://www.groupon.com/">Groupon</a>: Promocjyjne zakupy.</p>
      </td>
      <td>
        <a href="http://www.yellowpages.com/" class="no_link_hover"><%= image_tag("yellowpages.jpg") %></a>

        <p><a href="http://www.yellowpages.com/">Yellow Pages</a>: Katalog firm.</p>

      </td>
    </tr>           

    <tr>
      <td style="padding-right: 15px">

        <a href="http://www.github.com/" class="no_link_hover"><%= image_tag("github.jpg") %></a>
        <p><a href="http://www.github.com/">Github</a>: Hosting repozytoriów Git.</p>
      </td>
      <td>
        <a href="http://www.lighthouseapp.com/" class="no_link_hover"><%= image_tag("lighthouse_1.jpg") %></a>

        <p><a href="http://www.lighthouseapp.com/">Lighthouse</a>: Bugtracker.</p>

      </td>
    </tr>   
    <tr>
      <td colspan="2">
        <p style="text-align: center"><i><a href="/aplikacje">Zobacz więcej aplikacji</a></i></p>

      </td>

    </tr>
  </table>
</div>

<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Czego jeszcze<br/>potrzebuję?</h1>

</div>

<div class="main">
  <p>
    Rails współpracuje z dużą liczbą serwerów WWW i baz danych. Jako serwer WWW polecamy serwery <a href="http://httpd.apache.org/">Apache</a> lub <a href="http://nginx.net/">Nginx</a>, z modułem <a href="http://www.modrails.com/">Phusion Passenger</a> lub serwery aplikacji <a href="http://code.macournoyer.com/thin/">Thin</a>, <a href="http://unicorn.bogomips.org/">Unicorn</a> czy <a href="http://puma.io">Puma</a>.
    Jako bazy danych możesz użyć MySQL, PostgreSQL, SQLite, Oracle, SQL Server, DB2, lub Firebird.
    Rails działa prawie pod każdym systemem operacyjnym, ale dla systemu produkcyjnego radzimy użyć jednego z systemów Unix.
  </p>
</div>
